/* #container{
    height: 200px;
    width: 80%;
    background-color: wheat;
}
div{
    height: 50px;
    width: 500px;
    background-color: gray;
    margin: 2px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
     flex-wrap: wrap;
     align-content:flex-start;
    
    
    
} */
#container{
    height: 600px;
    width: 40%;
    
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    height: 150px;
    width: 150px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight:bold;
    font-size: 50px;
   
    

}
#navbar{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    /* justify-content: flex-start;
    align-content: center; */
    
}
.option{
    height: 50px;
    width: 80px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 50px;
}
