.container{
    height: 300px;
    width: 500px;
    background-color: yellow;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
}
.item{
    height: 50px;
    width: 100px;
    background-color: yellowgreen;
    border: 2px solid black;
}